<h1>Select your city</h1>
<table>
  <tr>
    <th>City</th>
  </tr>
 
<% @farmers_markets.each do |market| %>
  <tr>
    <td><a href="/farmers_markets/get_nearby_markets?city=<%= market %>"><%= market %></a></td>
  </tr>
<% end %>
</table>