<h1>Choose a category</h1>

<table border="true">
  <tr>
    <th>Category Name</th>
    <th>View</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td> <a href="/category/<%= category.id %>/products">Show Products</a></td>
  </tr>
<% end %>
</table>

<br />

