<h1>New Article</h1>
<% @categories.each do |category| %>
	<p><%= category.name %></p>
<% end %>

<script>
		<!-- On Startup this function call get_products and displays the products on page -->
		$(function()
		{
			alert("hide");
			data = {};
			$.ajax({
	        	type: "GET",
	        	url: "/products/get_products",
	        	data: data
      		})

      		.done(function(data){
      			alert(data[0]["name"])

      		});


		});
</script>